@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn-success {
  background-color: #44b276 !important;
}

.btn-success:hover {
  background-color: #44b276 !important;
}

.btn-success:focus {
  background-color: #44b276 !important;
}

.btn-outline-success {
  color: #44b276 !important;
  border-color: #44b276;
  background-color: #fff;
}

.btn-outline-success:hover {
  color: #44b276 !important;
  border-color: #44b276;
  background-color: #fff !important;
}

.btn-outline-success:focus {
  color: #44b276 !important;
  border-color: #44b276;
  background-color: #fff !important;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-light {
  background-color: #fbfbfb !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-12-14-500 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.text-green {
  color: #44b276 !important;
}

.text-light-gray {
  color: #8e8e8e !important;
}

.bg-green {
  background-color: #44b276 !important;
}

.bg-dark-blue {
  background-color: #232f5f !important;
}

.bg-light-orange {
  background-color: rgba(255, 109, 0, 0.1) !important;
}

.text-yellow {
  color: #ffb800 !important;
}

.text-green-light {
  color: #808080;
}

.topbar {
  text-align: right;
  padding: 5px 0;
  border-bottom: 1px solid #d0d0d0;
}

.topbar-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  color: #808080;
}

.topbar-item:not(:last-child) {
  margin-right: 15px;
}

.navbar {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.navbar #search-input {
  width: 520px;
  height: 38px;
  font-size: 12px;
  line-height: 32px;
  color: #8e8e8e;
}

.navbar .nav-login-register button {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  height: 38px;
  width: 109px;
  border-radius: 0;
  padding: 10px auto;
}

#main-carousel {
  z-index: -99;
}

#main-carousel .carousel-inner {
  height: 625px !important;
}

#main-carousel .carousel-inner .carousel-item {
  height: 625px !important;
}

#main-carousel .carousel-inner .carousel-item img {
  height: 625px !important;
}

#main-carousel .carousel-caption {
  left: 200px;
  top: 156px;
  display: inline-block !important;
  text-align: left;
}

#main-carousel .carousel-caption h5 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: #202020;
  margin-bottom: 35px;
}

#main-carousel .carousel-caption p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #202020;
  margin-bottom: 24px;
}

#main-carousel .carousel-caption p span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #44b276;
}

#main-carousel .carousel-caption a {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #44b276;
}

.makine-al-sat {
  margin-top: -100px;
  z-index: 9999;
}

.makine-al-sat .container {
  padding: 55px 0;
  background-image: url(../images/hemen-bg.jpg);
  background-position: right;
  background-size: cover;
  position: relative;
  z-index: 999;
  border-radius: 0.25rem;
}

.makine-al-sat .container .row {
  padding-left: 50px;
  padding-right: 50px;
}

.makine-al-sat .overlay {
  background-color: rgba(36, 36, 36, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9;
  border-radius: 0.25rem;
}

.makine-al-sat h4 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

.makine-al-sat .btn-outline-success {
  background-color: #fff;
}

.sifir-gibi-vitrin {
  margin-top: 120px;
}

.sifir-gibi-vitrin .title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.sifir-gibi-vitrin .title-button h4 {
  display: inline-block;
  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
}

.sifir-gibi-vitrin button {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 10px 20px;
}

.sifir-gibi-vitrin .card-price {
  width: 165px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #c5dbcf99;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
}

.sifir-gibi-vitrin .card-price h4 {
  font-size: 18px;
  line-height: 18.9px;
  font-weight: 600;
  margin-bottom: 0;
}

.sifir-gibi-vitrin .card .card-body {
  padding: 1rem 1.25rem 0.5rem;
}

.sifir-gibi-vitrin .card .card-body .card-date {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 400;
  color: #8e8e8e;
}

.sifir-gibi-vitrin .card .card-body .card-work {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #8e8e8e;
}

.sifir-gibi-vitrin .card .card-body .card-type {
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 500;
  color: #232323;
}

.sifir-gibi-vitrin .card .card-body .card-features i {
  font-size: 8px;
  padding: 3px;
  border-radius: 0.15rem;
  background-color: #44b27633;
  color: #232323;
}

.sifir-gibi-vitrin .card .card-body .card-features span {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 500;
  color: #8e8e8e;
}

.sifir-gibi-magazalar .title h4 {
  display: inline-block;
  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
}

.sifir-gibi-magazalar .title p {
  color: #727272;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.sifir-gibi-magazalar a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #44b276;
  position: relative;
}

.neden-sifir-gibi-makine {
  background-color: #44b2760d;
}

.neden-sifir-gibi-makine .title {
  font-size: 42px;
  line-height: 51px;
  font-weight: 600;
  color: #232323;
}

.neden-sifir-gibi-makine .neden-card .card-body img {
  margin-bottom: 20px;
}

.neden-sifir-gibi-makine .neden-card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #44b276;
}

.neden-sifir-gibi-makine .neden-card .card-body .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #232323;
}

.neden-sifir-gibi-makine .neden-card .card-body .card-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #232f5f;
}

.neden-sifir-gibi-makine .neden-card {
  background-color: transparent;
  transition: 0.3s;
}

.neden-sifir-gibi-makine .neden-card:hover {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.sgm-degerler .title {
  font-size: 42px;
  line-height: 51px;
  font-weight: 600;
  color: #282828;
}

.sgm-degerler .countdown {
  text-align: center;
}

.sgm-degerler .countdown h4 {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0.25rem;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #282828;
  background-image: url(../images/countdown-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.sgm-degerler .countdown p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #282828;
}

.sgm-ne-eder {
  position: relative;
  background-image: url(../images/ne-eder-bg.png);
}

.sgm-ne-eder .title {
  font-size: 36px;
  line-height: 44px;
  font-family: 600;
  color: #44b276;
}

.sgm-ne-eder .subtitle {
  font-size: 16px;
  line-height: 19px;
  font-family: 400;
  color: #fff;
}

.sgm-ne-eder .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    257.12deg,
    #232323 7.77%,
    rgba(35, 35, 35, 0) 124.06%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.sgm-ne-eder form .form-group label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.sgm-ne-eder form .form-group .select-input {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  color: #8e8e8e;
  border-radius: 0;
}

.sgm-ne-eder .sdm-ne-eder-button {
  display: flex;
  justify-content: center;
}

.sgm-ne-eder .sdm-ne-eder-button button {
  width: 238px;
  height: 50px;
  background-color: #44b276;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  margin-top: 30px;
}

.sgm-kategorileri .title {
  font-size: 42px;
  line-height: 51px;
  font-family: 600;
  color: #232323;
}

.sgm-kategorileri .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -80px;
}

.sgm-kategorileri .owl-carousel .owl-nav button {
  font-size: 18px !important;
  background-color: #fff !important;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(35, 47, 95, 0.2);
  text-align: center;
}

.sgm-kategorileri .owl-carousel .owl-nav button span {
  font-size: 24px !important;
  line-height: 18px;
  color: #000;
}

.sgm-kategorileri .owl-carousel .card .slider-card-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sgm-kategorileri .owl-carousel .card .slider-card-text h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
}

.sgm-kategorileri .owl-carousel .card .slider-card-text p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #dadada;
  margin-bottom: 0;
  display: inline-block;
}

.sgm-kategorileri .owl-carousel .card .card-body button {
  background-color: #44b276;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.sgm-kategorileri .owl-carousel .card .card-body .slider-card-items {
  padding: 1.25rem;
}

.sgm-kategorileri .owl-carousel .card .card-body .slider-card-items a {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #000;
  width: 100%;
  display: block;
}

.sgm-kategorileri
  .owl-carousel
  .card
  .card-body
  .slider-card-items
  a:not(:last-child) {
  margin-bottom: 19px;
}

.sgm-kategorileri .owl-carousel .card .card-body .slider-card-items a:hover {
  text-decoration: none;
}

.sgm-kategorileri .owl-carousel .card .card-body .slider-card-items a i {
  color: #44b276;
}

.sgm-kategorileri .tumunugor-button {
  padding: 15px 25px;
  margin-top: 30px;
  background-color: #44b276;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  float: right;
}

.sgm-yeni-eklenenler {
  background: rgba(68, 178, 118, 0.05);
}

.sgm-yeni-eklenenler .title {
  font-size: 42px;
  line-height: 51px;
  font-family: 600;
  color: #232323;
}

.sgm-yeni-eklenenler .card-price {
  width: 165px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #c5dbcf99;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
}

.sgm-yeni-eklenenler .card-price h4 {
  font-size: 18px;
  line-height: 18.9px;
  font-weight: 600;
  margin-bottom: 0;
}

.sgm-yeni-eklenenler .card .card-body {
  padding: 1rem 1.25rem 0.5rem;
}

.sgm-yeni-eklenenler .card .card-body .card-date {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 400;
  color: #8e8e8e;
}

.sgm-yeni-eklenenler .card .card-body .card-work {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #8e8e8e;
}

.sgm-yeni-eklenenler .card .card-body .card-type {
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 500;
  color: #232323;
}

.sgm-yeni-eklenenler .card .card-body .card-features i {
  font-size: 8px;
  padding: 3px;
  border-radius: 0.15rem;
  background-color: #44b27633;
  color: #232323;
}

.sgm-yeni-eklenenler .card .card-body .card-features span {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 500;
  color: #8e8e8e;
}

.sgm-yeni-eklenenler .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -80px;
}

.sgm-yeni-eklenenler .owl-carousel .owl-nav button {
  font-size: 18px !important;
  background-color: #fff !important;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(35, 47, 95, 0.2);
  text-align: center;
}

.sgm-yeni-eklenenler .owl-carousel .owl-nav button span {
  font-size: 24px !important;
  line-height: 18px;
  color: #000;
}

.sgm-yeni-eklenenler .tumunugor-button {
  padding: 15px 25px;
  margin-top: 30px;
  background-color: #44b276;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  float: right;
}

#ihalelerimiz-slider .ihale-sure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6ece0;
  padding: 15px;
}

#ihalelerimiz-slider .ihale-tamamlandi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  padding: 15px;
}

#ihalelerimiz-slider .ihale-tamamlandi .item p {
  color: #fff !important;
}

#ihalelerimiz-slider .ihale-sure .item {
  margin: 0 10px;
}

#ihalelerimiz-slider .ihale-sure .item p {
  display: inline-block;
  margin-bottom: 0;
  color: #282828;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

#ihalelerimiz-slider .ihale-sure .item span {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 300;
}

#ihalelerimiz-slider .ihaleye-katil {
  position: relative;
  display: block;
  color: #0089dd;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  padding: 15px 1.25rem 10px;
  text-align: right;
}

#ihalelerimiz-slider .ihaleye-katil i {
  background-color: transparent;
  color: #0089dd;
  font-size: 14px;
  line-height: 17px;
}

.sgm-blog .card .card-body .card-date {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  color: #727272;
}

.sgm-blog .card .card-body .card-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #232f5f;
}

.sgm-blog .card .card-body .card-text {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #727272;
}

.sgm-blog .right-box .title {
  font-size: 42px;
  line-height: 51px;
  font-weight: 600;
  color: #202020;
  margin-bottom: 20px;
}

.sgm-blog .right-box .subtitle {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 36px;
}

.sgm-blog .right-box .card .card-body .card-date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #727272;
}

.sgm-blog .right-box .card .card-body .card-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #232f5f;
}

.sgm-blog .right-box .card .card-body .card-text {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #727272;
}

footer .left-column img {
  margin-bottom: 22px;
}

footer .left-column h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #808080;
  margin-bottom: 18px;
}

footer .left-column p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #808080;
}

footer .footer-links h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

footer .footer-links a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #202020;
}

footer .footer-links a p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #202020;
}

footer .footer-links a:hover {
  text-decoration: none;
}

footer .footer-links p {
  margin-bottom: 8px;
}

footer .footer-bottom {
  border-top: 1px solid #44b276;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .footer-bottom p {
  font-size: 8px;
  line-height: 24px;
  font-weight: 500;
  color: #808080;
  margin-bottom: 0;
}

/* MAKINE AL */

.breadcrumb-comp {
  margin-top: 22px;
  margin-bottom: 22px;
}

.breadcrumb-comp a,
.breadcrumb-comp p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #0e2435;
  margin-bottom: 0;
  display: inline-block;
}

.breadcrumb-comp a:hover {
  color: #0e2435;
  text-decoration: none;
}

.breadcrumb-comp span {
  font-size: 10px;
  color: #0e2435;
  margin: 0 10px;
}

.sgm-makine-al {
  padding: 40px 0 80px;
}

.sgm-makine-al .makine-al-collapse-button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #232323;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sgm-makine-al .makine-al-collapse-button.collapsed {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #bfbfbf;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sgm-makine-al .makine-al-collapse-button:hover {
  text-decoration: none;
  color: #fff;
}

.sgm-makine-al .makine-al-collapse-button:focus {
  box-shadow: none;
  text-decoration: none;
}

.sgm-makine-al #makineAlCollapse .collapse-body {
  background-color: #232323;
}

.sgm-makine-al #makineAlCollapse .collapse-body button {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  padding: 12px 26px;
}

.sgm-makine-al #makineAlCollapse .collapse-body .card-body .input-column {
  display: flex;
}

.sgm-makine-al
  #makineAlCollapse
  .collapse-body
  .card-body
  .input-column
  .input-group:first-child
  input {
  min-width: 300px;
  margin-right: 8px;
}

.sgm-makine-al #makineAlCollapse .collapse-body .card-body .input-column input {
  border-color: #232323;
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.sgm-makine-al .card .slider-card-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sgm-makine-al .card .slider-card-text h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
}

.sgm-makine-al .card .slider-card-text p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #dadada;
  margin-bottom: 0;
  display: inline-block;
}

.sgm-makine-al .card .card-body button {
  background-color: #44b276;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.sgm-makine-al .card .card-body .slider-card-items {
  padding: 1.25rem;
}

.sgm-makine-al .card .card-body .slider-card-items a {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #000;
  width: 100%;
  display: block;
}

.sgm-makine-al .card .card-body .slider-card-items a:not(:last-child) {
  margin-bottom: 19px;
}

.sgm-makine-al .card .card-body .slider-card-items a:hover {
  text-decoration: none;
}

.sgm-makine-al .card .card-body .slider-card-items a i {
  color: #44b276;
}

.sgm-makine-liste {
  padding: 40px 0 80px;
}

.sgm-makine-liste .card-header {
  background-color: #232f5f;
  font-size: 12px;
  line-height: 15.63px;
  font-weight: 600;
  color: #fff;
}

.sgm-makine-liste .card-body {
  margin: 0.5rem;
  padding: 0.5rem;
}

.sgm-makine-liste .card-body p {
  margin-bottom: 11px;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 600;
}

.sgm-makine-liste .card-body .form-group {
  margin-bottom: 5px;
}

.sgm-makine-liste .card-body .form-group:last-child {
  margin-bottom: 0;
}

.sgm-makine-liste .card-body .form-control {
  border-radius: 0;
}

.sgm-makine-liste .card-body .form-group select {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #808080;
  border-radius: 0;
}

.sgm-makine-liste .card-body .form-group input {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #808080;
  border-radius: 0;
}

.sgm-makine-liste .card-body .form-check .form-check-label {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #808080;
}

.sgm-makine-liste .card-body .filtreleri-uygula {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 700;
  padding: 12px 0;
}

.sgm-makine-liste .card-body .filtreleri-sifirla {
  margin: 11px 0 5px;
  text-align: center;
}

.sgm-makine-liste .card-body .filtreleri-sifirla a {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  color: #232f5f;
  text-decoration: underline;
}

.sgm-makine-liste .vitrin-makineleri .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #232323;
  margin-bottom: 19px;
}

.sgm-makine-liste .vitrin-makineleri .card-price {
  width: 165px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #c5dbcf99;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
}

.sgm-makine-liste .vitrin-makineleri .card-price h4 {
  font-size: 18px;
  line-height: 18.9px;
  font-weight: 600;
  margin-bottom: 0;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body {
  padding: 1rem 1.25rem 0.5rem;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body .card-date {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 400;
  color: #8e8e8e;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body .card-work {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #8e8e8e;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body .card-type {
  font-size: 14px;
  line-height: 17.7px;
  font-weight: 500;
  color: #232323;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body .card-features i {
  font-size: 8px;
  padding: 3px;
  border-radius: 0.15rem;
  background-color: #44b27633;
  color: #232323;
}

.sgm-makine-liste .vitrin-makineleri .card .card-body .card-features span {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 500;
  color: #8e8e8e;
}

.sgm-makine-liste .boxes-filter button {
  padding: 0;
  text-align: center;
  margin-right: 10px;
  color: #e0e0e0;
}

.sgm-makine-liste .boxes-filter button:focus {
  box-shadow: none !important;
}

.sgm-makine-liste .boxes-filter button[aria-expanded="true"] {
  color: #44b276;
}

.sgm-makine-liste .boxes-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sgm-makine-liste .boxes-filter i {
  font-size: 18px;
  transition: 0.3s;
}

.sgm-makine-liste .boxes-filter i:hover {
  color: #44b276;
}

.sgm-makine-liste .boxes-filter .form-group {
  display: flex;
  align-items: center;
}

.sgm-makine-liste .boxes-filter .form-group label {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 8px;
}

.sgm-makine-liste .boxes-filter .form-group select {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  padding: 0.375rem 0.25rem;
}

.sgm-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sgm-table td,
.sgm-table th {
  border: 1px solid #ddd;
  padding: 15px;
}

.sgm-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sgm-table tr:hover {
  background-color: #ddd;
}

.sgm-table th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 13px;
  text-align: left;
  background-color: #232f5f;
  color: #fff;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
}

.sgm-table td span {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #8e8e8e;
}

.sgm-table td p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #232323;
}

.sgm-makine-liste .pagination .page-item .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #808080;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 4px;
  margin: 0 5px;
}

.sgm-makine-liste .pagination .page-item .page-link.active {
  background-color: #44b276;
  color: #fff;
}

.sgm-makine-liste .pagination .page-item .page-link span {
  font-size: 24px;
  line-height: 16px;
  font-weight: 500;
}

.sgm-makine-liste .listing-v2 .card .card-body {
  margin: 0;
  padding: 7px 17px;
}

.sgm-makine-liste .listing-v2 .card .card-body .card-date {
  font-size: 8px;
  line-height: 8.4px;
  font-weight: 400;
  color: #8e8e8e;
}

.sgm-makine-liste .listing-v2 .card .card-body .card-work {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.sgm-makine-liste .listing-v2 .card .card-body .card-type {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #232323;
}

.sgm-makine-liste .listing-v2 .card .card-body .card-features span {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 500;
  color: #8e8e8e;
}

.urun-detay .title {
  font-size: 30px;
  line-height: 36.7px;
  font-weight: 500;
  color: #232323;
}

.urun-detay .favoriye-ekle {
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
}

.urun-detay .favoriye-ekle a:hover {
  text-decoration: none;
}

.urun-detay .favoriye-ekle i {
  font-size: 16px;
  line-height: 16.8px;
  margin-right: 8px;
  color: #8e8e8e;
  display: inline-block;
}

.urun-detay .favoriye-ekle p {
  font-size: 16px;
  line-height: 16.8px;
  font-weight: 400;
  color: #8e8e8e;
  display: inline-block;
}

.urun-detay .price h2 {
  font-size: 48px;
  line-height: 50.4px;
  font-weight: 600;
  color: #ff6d00;
  margin-top: 41px;
}

.urun-detay .card.bg-transparent {
  margin-top: 19px;
}

.urun-detay .satici-card .first-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.urun-detay .satici-card .first-line .img img {
  max-width: 70px;
  max-height: 70px;
}

.urun-detay .satici-card .first-line .texts {
  margin-left: 9px;
}

.urun-detay .satici-card .first-line .texts h6 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 0;
}

.urun-detay .satici-card .first-line .texts p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #232323;
  margin-bottom: 0;
}

.urun-detay .satici-card .second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.urun-detay .satici-card .second-line p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #8e8e8e;
  margin-bottom: 0;
}

.urun-detay .detay-button {
  font-size: 20px;
  font-weight: 24px;
  font-weight: 700;
  padding: 10px 0;
}

.urun-detay .detay-button i {
  margin-right: 7px;
}

.urun-detay .urun-ozellikleri {
  display: flex;
  justify-content: space-between;
}

.urun-detay .urun-ozellikleri .item:not(:last-child) {
  margin-bottom: 14px;
}

.urun-detay .urun-ozellikleri .item p {
  font-size: 16px;
  line-height: 16.8px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin-bottom: 0;
}

.urun-detay .urun-ozellikleri .item span {
  font-size: 16px;
  line-height: 16.8px;
  font-weight: 500;
  color: #8e8e8e;
}

.urun-detay .detay-aciklama {
  margin: 36px 0;
}

.urun-detay .detay-aciklama h5 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 600;
  color: #232323;
}

.urun-detay .detay-aciklama p {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  color: #8e8e8e;
  margin: 23px 0;
}

.urun-detay .detay-map h5 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 600;
  color: #232323;
}

.urun-detay .detay-map iframe {
  margin-top: 32px;
}

.urun-detay-cards .card {
  text-align: center;
  padding: 20px;
  display: block;
}

.urun-detay-cards .card-1 {
  background-image: url(../images/detay-card-bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.urun-detay-cards .card-2 {
  background-image: url(../images/detay-cards-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.urun-detay-cards .card-3 {
  background-image: url(../images/detay-cards-bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.urun-detay-cards .card .card-items {
  width: 50%;
  margin: 0 auto;
}

.urun-detay-cards .card .icon {
  display: inline-block;
  color: #fff;
  padding: 9px 15px;
  border-radius: 50%;
  margin-bottom: 19px;
}

.urun-detay-cards .card .icon i {
  font-size: 15px;
}

.urun-detay-cards .card .title h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #20558a;
}

.urun-detay-cards .card .text p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.urun-detay-cards .card .link a {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  color: #282828;
  text-transform: uppercase;
}

.urun-detay-benzer-urunler .card .card-body .card-date {
  font-size: 8px;
  line-height: 8.4px;
  font-weight: 400;
  color: #8e8e8e;
}

.urun-detay-benzer-urunler .card .card-body .card-work {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.urun-detay-benzer-urunler .card .card-body .card-type {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #232323;
}

.urun-detay-benzer-urunler .card .card-body .card-features span {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 500;
  color: #8e8e8e;
}

.urun-detay-benzer-urunler .card .card-body .card-features i {
  font-size: 8px;
  padding: 3px;
  border-radius: 0.15rem;
  background-color: #44b27633;
  color: #232323;
}

.urun-detay-benzer-urunler .card .card-body .card-features span {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 500;
  color: #8e8e8e;
}

.urun-detay-benzer-urunler .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #232323;
}

.urun-detay-benzer-urunler .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -70px;
}

.urun-detay-benzer-urunler .owl-carousel .owl-nav button {
  font-size: 18px !important;
  background-color: #fff !important;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(35, 47, 95, 0.2);
  text-align: center;
}

.urun-detay-benzer-urunler .owl-carousel .owl-nav button span {
  font-size: 24px !important;
  line-height: 18px;
  color: #000;
}

/* SATICI DETAY */

.satici-banner {
  width: 100%;
  height: 200px;
  background-image: url(../images/satici-banner.png);
  margin-bottom: 90px;
}

.satici-logo {
  max-height: 208px;
  max-width: 208px;
  position: absolute;
  top: 21px;
  left: 36px;
}

.satici-detay .satici-card-comp {
  margin-bottom: 30px;
}

.satici-detay .satici-card-comp .title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #232323;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
}

.satici-detay .satici-card-comp .text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #232323;
  margin: 18px 0 13px;
}

.satici-detay .satici-card-comp .text:last-child {
  margin-bottom: 0;
}

.satici-detay .satici-card-comp .card-body {
  padding: 26px;
}

.satici-detay .boxes-filter .form-group p {
  display: inline-block;
}

.satici-detay .boxes-filter .form-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.satici-detay .boxes-filter .form-group label {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 8px;
  margin-left: 12px;
}

.satici-detay .boxes-filter .form-group select {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  padding: 0.375rem 0.25rem;
  width: 163px;
}

.satici-detay .product-card {
  margin-top: 30px;
}

.satici-detay .product-card .card-body .card-date {
  font-size: 10px;
  line-height: 10.5px;
  font-weight: 400;
  color: #8e8e8e;
}

.satici-detay .product-card .card-body .card-work {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  color: #8e8e8e;
}

.satici-detay .product-card .card-body .card-type {
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 500;
  color: #232323;
}

.satici-detay .product-card .card-body .card-features i {
  font-size: 8px;
  padding: 3px;
  border-radius: 0.15rem;
  background-color: #44b27633;
  color: #232323;
}

.satici-detay .product-card .card-body .card-features span {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 500;
  color: #8e8e8e;
}

.satici-detay .product-card .card-price {
  width: 165px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #c5dbcf99;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
}

.satici-detay .product-card .card-price h4 {
  font-size: 18px;
  line-height: 18.9px;
  font-weight: 600;
  margin-bottom: 0;
}

.satici-detay .product-card .card-body {
  padding: 1rem 1.25rem 0.5rem;
}

.section {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.login-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left form {
  width: 488px;
}

.login-left h4 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 16px;
}

.login-left input {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #728899;
  border-radius: 1px;
  padding: .775rem .75rem;
  height: calc(1.5em + 1.15rem + 2px);
}

.login-left .form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-left .form-check input {
  margin-top: 0rem !important;
}

.login-left .beni-hatirla {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #282828;
}

.login-left .sifremi-unuttum {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #282828;
  text-decoration: underline;
  float: right;
}

.login-left .login-button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #FBFBFB;
  padding: 10px 100px;
  margin: 16px 0;
}

.login-left .uye-ol p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #282828;
  margin-bottom: 3px;
}

.login-left .uye-ol a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #44B276;
  text-decoration: underline;
}

.login-left .veya {
  margin: 15px 0;
  width:100%;
  text-align:center; 
  position: relative;
}

.login-left .veya h5 {
  position:relative; 
  padding:10px 20px; 
  background: #f8f9fa;
  display: inline-block;
  z-index: 1;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
  margin-bottom: 2px;
}

.login-left .veya::after {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #DADADA;
  z-index:0;
}

.login-left .google-facebook-buttons button {
  max-width: 285px;
  margin: 12px auto;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #DADADA;
  border-radius: 2px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left .google-facebook-buttons button svg {
  margin-right: 8px;
  font-size: 12px;
  fill: #44B276;
  max-width: 20px;
  max-height: 20px;
}

.login-left .login-logo {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 21px;
  left: 0;
  right: 0;
}

.login-left .login-logo img {
  max-width: 124px;
  max-height: 33px;
}

.login-right {
  background-image: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #44B276;
  opacity: .5;
}

.login-right .text {
  z-index: 99;
  padding: 0 117px;
  text-align: center;
}

.login-right .text h1 {
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
  color: #fff;
}

.login-right .text h1 span {
  font-size: 42px;
  line-height: 51px;
  font-weight: 400;
  color: #fff;
}

.login-right .text p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 38px;
  margin-bottom: 0;
}

.register-checboxs .kabul-et {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #282828;
}

.register-checboxs .kabul-et a {
  text-decoration: underline;
  color: #282828;
}

.register-checboxs .form-check-input {
  margin-top: -6px;
}

/* PROFİLİM */

.profilim {
  margin: 50px 0;
}

.profil-sidebar .acc-card {
  background-color: transparent;
  border: none;
}

.profil-sidebar .acc-card .card-header {
  background-color: transparent;
  border: none;
  padding: 0;
}

.profil-sidebar .acc-card .card-header .btn-link {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #282828;
  margin-bottom: 10px;
  padding-left: 0;
  transition: .3s;
}

.profil-sidebar .acc-card .card-header .btn-link:hover {
  text-decoration: none;
}

.profil-sidebar .acc-card .card-header .btn-link[aria-expanded="true"] {
  background: rgba(68, 178, 118, 0.1);
  border: 1px solid #44B276;
  box-shadow: none;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 500;
}

.profilim .collapse .card-body {
  background: rgba(218, 218, 218, 0.2);
}

.profilim .profil-right-box .form-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 20px;
}

.profilim .profil-right-box .form-group {
  margin-bottom: 7px;
}

.profilim .profil-right-box .form-group input {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #728899;
  border-radius: 1px;
  height: calc(1.5em + 1.15rem + 2px);
  padding: .775rem .75rem;
}

.profilim .profil-right-box .form-group select {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #728899;
  border-radius: 1px;
  height: calc(1.5em + 1.15rem + 2px);
  padding: .275rem .75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
}

.profilim .profil-right-box .form-group textarea {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #728899;
  border-radius: 1px;
  padding: 0.675rem 0.75rem;
}

.profilim .profil-right-box .input-group .custom-file label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #728899;
  height: calc(1.5em + 1.15rem + 2px);
  padding: .275rem .75rem;
  display: flex;
  align-items: center;
}

.profilim .profil-right-box .select-icon {
  position: absolute;
  pointer-events: none;
  top: 15px;
  right: 30px;
  font-size: 10px;
  color:#728899;
  cursor: pointer;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  background-color: #DADADA;
  height: 100%;
  display: flex;
  align-items: center;
  content: "Dosya Seçilmedi" !important;
}

.profilim .profil-right-box .kaydet-button {
  width: 285px;
  padding: 12px 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.profilim .profil-right-box .exper-talep p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
}

.profilim .profil-right-box .exper-talep label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
}

.profilim .profil-right-box .exper-talep .form-check-input {
  margin-top: -7px;
}

.exper-table .card .list-group .list-group-item {
  padding: 1rem 1.25rem;
}

.exper-table .card .list-group .list-group-item:nth-child(even) {
  background-color: #F6F6F6;
}

.exper-table .card .list-group .list-group-item p {
  margin-bottom: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #232323;
}

.exper-table .card .list-group {
  max-height: 410px;
  overflow-y: scroll;
  border: 1px solid #DADADA !important;
}

.exper-table .general-card {
  padding: 20px;
}

.profilim .profil-right-box .p-label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.profil-ilanlarım .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #232323;
}

.profil-ilanlarım .favoriye-ekle p {
  font-size: 13px;
  line-height: 13.8px;
  font-weight: 400;
}

.profil-ilanlarım .favoriye-ekle i {
  font-size: 13px;
  line-height: 13.8px;
}

.profil-ilanlarım  .price h2 {
  font-size: 40px;
  line-height: 42.4px;
  margin-top: 21px;
}

.profil-ilanlarım  .satici-card .first-line .texts h6 {
  font-size: 18px;
  line-height: 24.4px;
}

.profil-ilanlarım .satici-card .first-line .texts p {
  font-size: 14px;
  line-height: 16.4px;
}

.profil-ilanlarım .satici-card .first-line .img img {
  max-width: 50px;
  max-height: 50px;
}

.profil-ilanlarım .satici-card .second-line {
  flex-direction: column;
  margin-top: 10px;
}

.profil-ilanlarım .satici-card .second-line p {
  font-size: 14px;
  line-height: 32px;
}

.profil-ilanlarım .detay-button {
  font-size: 12px;
}

.profil-ilanlarım .detay-button i {
  margin-right: 5px;
}

.profil-ilanlarım .urun-ozellikleri .item p {
  font-size: 13px;
  line-height: 13.6px;
}

.profil-ilanlarım .urun-ozellikleri .item span {
  font-size: 13px;
  line-height: 13.6px;
}

.profil-ilanlarım .detay-aciklama p {
  font-size: 14px;
  line-height: 19px;
}

.profil-ilanlarım .ilanlarım-inceleniyor {
  margin-top: 15px;
}

.profil-ilanlarım .ilanlarım-inceleniyor a {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 700;
  color: #44B276;
  text-decoration: underline;
}

.profilim .profil-ihalelerim h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  margin-bottom: 45px;
}

.profilim .profil-ihalelerim button {
  font-size: 12px;
  line-height: 14.6px;
  font-weight: 700;
  color: #fff;
  width: 285px;
  padding: 10px 26px;
}

.profilim .mesajlarim .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 20px;
}

.profilim .mesajlarim .center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.profilim .mesajlarim .center-box p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #8E8E8E;
  margin-bottom: 9px;
}

.profilim .mesajlarim .center-box h5 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #272727;
  margin-bottom: 9px;
}

.profilim .mesajlarim .center-box .spans {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profilim .mesajlarim .center-box span {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8E8E8E;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px;
}

.profilim .mesajlarim .center-box span i {
  font-size: 4px;
  margin-right: 5px;
}

.profilim .mesajlarim .main-card {
  background-color: #fff;
  border: 1px solid #DADADA;
  padding: 1rem;
}

.profilim .mesajlarim .right-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profilim .mesajlarim .right-box p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.profilim .mesajlarim .dropdown-dots {
  position: absolute;
  right: 0;
  top: 0;
}

.profilim .mesajlarim .dropdown-dots button {
  background-color: transparent !important;
  border: none !important;
}

.profilim .mesajlarim .dropdown-dots button:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.profilim .mesajlarim .dropdown-dots button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.profilim .mesajlarim .dropdown-dots button i {
  color: #000;
}

.profilim .mesajlarim .dropdown-dots .dropdown-toggle::after {
  display: none;
}

.profilim .mesajlarim .dropdown-dots .dropdown-menu {
  left: -125px !important;
  background-color: #44B276;
  border: none;
}

.profilim .mesajlarim .dropdown-dots .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 12.6px;
  font-weight: 400;
  color: #fff;
}

.profilim .mesajlarim .dropdown-dots .dropdown-menu .dropdown-item:hover {
  background-color: #44B276;
}



.nav-login-success button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
}

.nav-login-success button:focus {
  box-shadow: none !important;
  border: none;
}

.nav-login-success button:active {
  box-shadow: none !important;
  border: none;
}

.nav-login-success .dropdown-menu {
  background-color: #44B276;
  border-color: #44B276;
  margin: .325rem 0 0;
}

.nav-login-success .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #FBFBFB;
  padding: .5rem 1.5rem;
  transition: .3s;
}

.nav-login-success .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #44B276;
}

.nav-login-success .dropdown-menu .dropdown-item i {
  margin-right: 7px;
}

/* RESPONSIVE */

.mobile-bar {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 7px !important;
    padding-right: 7px !important;
  } */
  .sm-d-none {
    display: none !important;
  }
  .mobile-bar {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    border-top: 1px solid #dedede;
  }
  .mobile-bar .col {
    padding: 0 10px;
    text-align: center;
  }
  .navbar #search-input {
    max-width: 230px;
  }
  #main-carousel .carousel-inner {
    height: 276px !important;
  }
  #main-carousel .carousel-inner .carousel-item {
    height: 276px !important;
  }
  #main-carousel .carousel-inner .carousel-item img {
    height: 276px !important;
  }
  .makine-al-sat {
    margin-top: 0px;
  }
  .makine-al-sat h4 {
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 600;
    margin-top: 12px;
  }
  .makine-al-sat .container {
    padding: 25px 0;
  }
  .mobile-btn {
    font-size: 14px !important;
    line-height: 17.5px !important;
    font-weight: 500 !important;
  }
  .sifir-gibi-vitrin {
    margin-top: 30px;
  }
  .sifir-gibi-vitrin .title-button h4 {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .sifir-gibi-vitrin .card {
    margin-bottom: 20px;
  }
  .sifir-gibi-vitrin .card .card-body .card-date {
    font-size: 7px;
    line-height: 7.35px;
  }
  .sifir-gibi-vitrin .card .card-body .card-work {
    font-size: 8px;
    line-height: 9.75px;
  }
  .sifir-gibi-vitrin .card .card-body .card-type {
    font-size: 10px;
    line-height: 12.19px;
  }
}

.mobile-bar .menu-icon {
  max-width: 20px;
  max-height: 20px;
  color: #44b276;
}

.mobile-bar p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
  color: #44b276;
}
